body{
	font-family: sans-serif;
	margin: 0;
}

/*Tela de menu*/
.container{
	width: 100vw;
    height: 70vh; 
    display: grid;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

.center{
    background: #fff;
    display: grid;
    border-left: 5px solid #aaa;
	border-radius: 10px;
	background-color: #eee;
	padding: 30px 30px 10px;
}

.dados{ 
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 20px;
	margin-bottom: 20px;
}

.loginError, .registerError{
	background-color: rgba(255,0,0, 0.4);
	border-radius: 5px;
	padding: 6px;
	text-align: center;
	margin-bottom: 12px;
}

.registerError{
}

.inputText{
	height: 20px;
	border-radius: 15px;
	cursor: text;
}
.btn{
	height: 35px;
	border-radius: 10px;
	cursor: pointer;
	background-color: white;
	margin-bottom: 3px;
	transition: 0.5s linear;
}

.btn:HOVER{
	background-color: #a2df00;
}
.tagLogin{
	cursor:pointer;
}

.tagLoginLeft{
	float: left;
}

.tagLoginRight{
	float: right;
}

.tagLoginLeft, .tagLoginRight{
	transition: 0.3s linear;
	text-decoration: underline;
	bold: 300;
}

.tagLoginRight:HOVER, .tagLoginLeft:HOVER{
	color: darkBlue;
}

.rodape{
	justify-content: center;
}



/*Cabeçalho do site*/

header{
	margin: 0; 
	width: 100%;
	height: 90px;
	border-bottom: 1px solid #ccc;
}

.menu{
	list-style-type: none;
	display: flex;
	padding-left: 0px;
	margin: 0;
	justify-content: center;
}

.menu li{
	padding: 0px 8px;
	cursor: pointer;
	transition: .5s linear; 
}

.menu li:HOVER{
	border-bottom: 2px solid #ccc;
}

.sair{
	font-size: 10px;
	cursor:pointer;
	transition: 0.5s linear;
}

.sair:HOVER{
	color: red;
}

a:LINK{
	color: black;
	text-decoration: none;
}

a:VISITED{
	color: black;
}

header .title{
	text-align: center;
	font-size: 30px;
}

.bookContainer{
	display: flex;
}

.asideDetails{
	width: 25%;
	height: 100%;
	position: fixed;
	
}

.bookList{
	width: 75%;
	margin-left: 25%;
}

.book img{
	margin-right: 10px;
	border-radius: 10px;
	width: 80px;
}

.book{
	border: 1px solid #aaa;
	border-left: 3px solid #aaa;
	margin: 10px 40px;
	padding: 5px;
	display: flex;
  	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
  	background-color: #eee;
}

.bookDetails{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 10px;
}

.buttons{
	margin-top: 30px;
}

.btnBook{
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
	transition: 0.5s linear;
}

.btnBook:HOVER{
	background-color: lightblue;
}

.viewBook{
	width: 60%;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.topViewRow{
	display: grid;
	margin-top: 35px;
	margin-left: 30px;
}

.bottomViewRow{
	margin-left: 30px;
	margin-top: 10px;
}

.topViewRow span{
	margin-bottom: 5px;
}

.viewButtons{
	margin-left: 30px;
}

.userTable, .loansTable{
	width:1300px; 
	margin: 5px auto;
}

.userTable thead tr td, .loansTable thead tr td{
	background-color: #ccc;
}


.userTable tr td, .loansTable tr td{
	padding: 6px 12px;
	border-radius: 8px;
} 


.btnDesactive{
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	transition: 0.5s linear;
	cursor: pointer;
	background-color: rgba(250,0,0, 0.5);
	float: left;
	transition: 0.5s linear;
}

.btnActive{
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	transition: 0.5s linear;
	cursor: pointer;
	background-color: rgba(0,200,0, 0.5);
	float: left;
	transition: 0.5s linear;
}

.btnEmprestimo{
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	transition: 0.5s linear;
	background-color: lightblue;
	float: right;
}

.btnReceber{
	cursor: pointer;
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
	transition: 0.5s linear;
	background-color: lightblue;
	width: 100%;
}

.userTable tr:nth-child(even), .loansTable tr:nth-child(even){
	
	background-color: #eee;
}

.emprestimosScreen, .booksScreen{
	margin-left: 30px;
	margin-bottom: 10px;
}

.makeLoanContainer{
	display: flex;
}

.user2Loan{
	width: 30%;
	height: 300px;
}

.resultSearch{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 20px;
	padding-left: 30px;
}

.resultSearch span{
	height: 40px;
}

#aloneSpan{
	padding-left: 30px;
}

.searchDiv{
	border: 1px solid black;
	margin-top: 10px; 
	margin-left: 20px;
	padding: 10px;
	border-radius: 30px;
}

.searchUser{
	width: 100px;
}

.books2Loan{
	width: 68%;
	padding-left: 30px;
	padding-right: 15px; 
}

.book2Loan{
	margin-top: 10px;
	width: 100%;
	border-left: 3px solid black;
	background-color: #eee;
	border-top-right-radius: 50px;
  	border-bottom-right-radius: 50px;
}

.bookData{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 10px;
}

.bookData span{
	height: 25px; 
}

.btnRemove{
	background-color: rgba(250, 0, 0, .4);
	padding: 5px;
	cursor: pointer;
	transition: .5s linear;
	border-radius: 10px;
}

.btnRemove:HOVER{
	background-color: rgba(250, 0, 0, .7);

}

.removeDivButton{
	padding: 5px;
}

.registerUser, .centerViewUser{
	background-color: #eee;
	margin: 20px 300px;
	padding: 15px;
	border-left: 6px solid #ccc;
	border-top-right-radius: 50px;
  	border-bottom-right-radius: 50px;
}

.registerUser h1{
	text-align: center;
	border-bottom: 2px solid #ccc;
}

.topInputsUser, .bottomInputsUser{
	margin: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.topInputsUser label,
.bottomInputsUser label{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

.checkBox{
	border-radius: 10px;
}

.ViewUserFirstRow span, 
.ViewUserSecondtRow, .ViewUserSecondtRow span,
.ViewUserThirdRow, .ViewUserThirdRow span,
.ViewUserForthtRow, .ViewUserForthtRow span,
.ViewUserFifthtRow, .ViewUserFifthtRow span{
	display: grid;
}

.ViewUserSecondtRow,
.ViewUserThirdRow,
.ViewUserForthtRow,
.ViewUserFifthtRow{
	grid-template-columns: repeat(2, 1fr);
	margin-top: 13px;	
}

.centerViewUser h1 {
	height: 10px;
	margin-top: 0;
}

.inputSelect{
	height: 30px;
	font-size: 15px;
	border-radius: 10px;
	cursor: pointer;
}

.userData{
	display: grid;
	margin-left: 30px;
	margin-top: 15px; 
	margin-bottom: -30px;
}

.genderContainer{
	width: 100%;

}

.unregistredGenders{
	width: 80%;
	margin: 20px 80px;
	border: 1px solid black;
	border-radius: 10px;
}

.registredGenders{
	width: 80%;
	margin: 20px 80px;
	border: 1px solid black;
	border-radius: 10px;
}

.genderText{
	border-bottom: 1px solid black;
	padding-bottom: 5px;
}

.unregisteredGender{
	list-style-type: none;
	padding: 10px;

}

.gender{
	height: 25px;
}

.btnAddGender{
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s linear;
	width: 100px;

}

.btnAddGender:HOVER{
	background-color: rgba(0,200,0, .5);
}

.genderBoxes{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	
}





/* General css */

.centerText{
	text-align: center;
}

.displayNone{
	display: none;
}