<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>listaLivros</welcome-file>
  </welcome-file-list>
  <error-page>
    <exception-type>com.epiousion.exception.LoginFailedException</exception-type>
    <location>/login.jsp</location>
  </error-page>
  <filter>
    <filter-name>AdminControllAccess</filter-name>
    <filter-class>com.epiousion.filters.AdminControllAccess</filter-class>
  </filter>
  <filter>
    <filter-name>UserControllAccess</filter-name>
    <filter-class>com.epiousion.filters.UserControllAccess</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminControllAccess</filter-name>
    <url-pattern>/jsp/admArea/*</url-pattern>
    <url-pattern>/admin/saveUser</url-pattern>
    <url-pattern>/buscaCliente</url-pattern>
    <url-pattern>/searchBook</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>UserControllAccess</filter-name>
    <url-pattern>/jsp/userArea/*</url-pattern>
    <url-pattern>/myLoans</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  

  
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
</web-app>